*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height:1.5;
    color:#333;
    overflow-x:hidden;
}

#navbar > li > a{
    color:#fff;
    font-size:2rem;
}

#navbar > li > a:hover{
    background-color: gray;
}

#navbar > li > a:active{
    background-color: rgb(70, 68, 68);
}

#navbar > li > a:visited{
    background-color: rgb(70, 68, 68);
}

.v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
}

.container-of-homepage{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
}

.fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.fullscreen-video-wrap video{
    min-width:100%;
    min-height:100%;
}

.header-overlay{
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background:rgb(194, 49, 49);
    z-index:1;
    opacity:0.50;
}

.header-content{
    z-index:2;
    margin:auto;
    text-align:center;
}

.header-content h1{
    font-size:60px;
    margin-bottom:0;
}

.header-content p{
    font-size:3rem;
    display:block;
    padding-bottom:2rem;
}

.btn{
    background:#d30707;
    color:#fff;
    font-size:1.2rem;
    padding:1rem 2rem;
    text-decoration: none;
}

.section{
    padding:20px 0;
}

.section-a{
    background: #fff;
    color:#333;
    margin-bottom:4.5rem;
}

.section-a h1{
    font-size:6rem;
    margin-bottom:0;
}

.section-a p{
    font-size:2rem;
    display:block;
    padding-bottom:2rem;
}

.section-b{
    background: #333;
    color:#fff;
    margin:5rem 0;
}

.section-b h1{
    font-size:6rem;
    margin-bottom:0;
}

.section-b p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
}

.section-c{
    background: #fff;
    color:#333;
    margin:4rem 0;
}

.section-c h1{
    font-size:6rem;
    margin-bottom:0;
}

.section-c p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
}

.section-d{
    margin-top:5rem;
    color:#fff;
}

.section-d h1{
    font-size:6rem;
    margin-top:50px;
    margin-bottom:10px;
}

.section-d p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
}

.list-inline-item {
    font-size:1.5rem;
    margin-top: 0;
    margin-bottom: 30px;
}

@media(max-width:960px){
    .container{
        padding-right:3rem;
        padding-right:3rem;
    }
}

section#contact {
    background-color: #212529;
    background-image: url("assets/contact_map_image.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  section#contact .section-heading {
    color: #fff;
  }
  
  section#contact .form-group {
    margin-bottom: 5px;
  }
  
  section#contact .form-group input,
  section#contact .form-group textarea {
    padding: 15px;
    font-size:1.8rem;
  }

  section#contact .form-group input.form-control {
    height: auto;
  }
  
  section#contact .form-group textarea.form-control {
    height: 248px;
  }
  
  section#contact .form-control:focus {
    border-color: #fed136;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-size:1.5rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-size:1.5rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-size:1.5rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-size:1.5rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
  }
  
.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  
.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' ';
  }
  
.timeline > li:after {
    clear: both;
  }
  
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #fed136;
  }
  
  .timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline .timeline-heading h4.subheading {
    text-transform: none;
  }
  
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }  